<mat-toolbar color="secondary">
  <span class="logoH">
      <p>Designed and built with all the love in the world by the YAMAMO team with the help of our contributors.</p>
  </span>
  <span class="spacer"></span>
  <ul>
    <!-- <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink = "/create" routerLinkActive="mat-accent"> New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink = "/login" routerLinkActive="mat-accent"> Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink = "/signup" routerLinkActive="mat-accent"> SIGNUP</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()"> Logout </button>
    </li> -->
  </ul>
</mat-toolbar>
