<div class="card" >
    <div class="card-header">
      user name + "has posted a listing!"
    </div>
    <div class="card-body">
        <img src="../../../assets/imgs/KeenSmall.png" class="card-img-top" alt="...">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">Price | Size | Brand</p>
    </div>
    <div class="controls">
      <div class="icon-container">
        <mat-icon class="icon">favorite</mat-icon>
        <mat-icon class="icon">autorenew</mat-icon>
        <mat-icon class="icon">share</mat-icon>
        </div>
        <div class="buy-btn-container">
          <a href="#" class="btn btn-primary">buy</a>
        </div>
    </div>  
  </div>