<div class="item-section">
    <div class="left-side">
        <div class="photo-box">
            <img src="../../assets/imgs/m_5b142c899519961cf530c620.jpg">
        </div>
        <div class="stats">
            <div class="controls">
                <div class="icon-container">
                    <div class="icons">
                        <p>{{card.likes}}</p>
                        <mat-icon class="icon">favorite</mat-icon>
                     </div>
                    <div class="icons">
                        <mat-icon class="icon">autorenew</mat-icon>
                     </div>
                    <div class="icons">
                      <mat-icon class="icon">share</mat-icon>
                     </div>
                  </div>
             </div>
            <div class="comments">
                <div class="display-comments">
                </div>
                <div class="write-comments">
                    <input type="text" name="fname">
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="user"></div>
        <div class="item">
            <div class="title">Michael Kors White Basic Tee cutout</div>
            <div class="brand">MICHEAL</div>
            <div class="prices"><span id="after-price">$44</span><span id="before-price">$68</span></div>
            <div class="descrip">•NWT 
                    •White cuffed sleeve Tee Shirt
                    •Gold detail & cutout in the front
                    •Size Medium
                    •Approx 27.” Long
                    •55% Cotton & 45% Modal
                    •MSRP $68</div>
        </div>
        <div class="buy">
            <button>Buy Now</button>
        </div>
    </div>
</div>