.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(139, 14, 112, 0.5);

}

.form-check .option {
  margin-bottom: 10px;
}

.form-check-1 {
  // border-style: solid;
  // border-color: rgb(128, 124, 120);
  // border-width: 2px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}
.form-check-2{
  position: relative;
  display: block;
  padding-left: 1.25rem;
  margin-bottom: 10px;

}
.btn-secondary {
  color: #ffffff;
  background-color: #8b0e70;
  border-radius: 5px;
  font-family: "buka";
  font-size: 16pt;
  border: transparent;
  padding: 2% 6%;
}

.filter-container {
  padding: 20px 81% 0 15px;
}

.tag-header {
  font-size: 20mm;
  font-weight: bold;

}

h1 {
  font-family: "buka";
  color: #8b0e70;
  font-size: 24pt;


}

mat-slider {
  width: 250px;

}
