<div class="filter-container">
    <div class="form-check" align="left">
        <h1>Tags</h1>
        <div class="option">
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Nike
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Addidas
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Mobaco
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Summer
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Winter
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Sports Wear
                </label>
            </div>
        </div>
    </div>

    <div class="form-check" align="left">
        <h1>Condition</h1>
        <div class="option">
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Old
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    New
                </label>
            </div>
        </div>
    </div>
    <div class="form-check" align="left">
        <h1>Size</h1>
        <div class="option">
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    XS
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Small
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Medium
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Large
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    XL
                </label>
            </div>
        </div>
    </div>

    <div class="form-check-2" align="left">
        <h1>Max Price</h1>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="10" min="1" max="9999"></mat-slider>
    </div>

    <div class="form-check-1" align="center">
        <button class="btn-secondary" (click)="onApplyFilters()">Apply Filters</button>
        <button class="btn-secondary" (click)="onResetFilters()">Reset Filters</button>
    </div>
</div>