.form-check {
    border-style: solid;
    border-color: rgb(128, 124, 120);
    border-width: 2px;
    margin-right: 1400px;
    
  }
  .form-check-1 {
    border-style: solid;
    border-color: rgb(128, 124, 120);
    border-width: 2px;
    margin-right: 1400px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
  }
  .btn-secondary{
    color: #ffffff;
      background-color: #8b0e70;
    //  border-color: #8b0e70;
    //   border-left-color: transparent;
    //   border-right-color: transparent;
    //   border-top-color: transparent;
      border-bottom-width: medium;
  }
  .filter-container{
      position: absolute;
      padding-top: 60px;
  }
  .tag-header{
      font-size: 20mm;
      font-weight: bold;
      
  }
  h1{
    
    font-size: 25pt;
  
  }
  mat-slider {
    width: 250px;
  
  }
  