.hiw{
  text-align: center;
  padding: 5% 20%;
}

.btn-group{
  width: 250px;
  margin: 2% 0;
}

h2{
  font-family: "buka";
  font-size: 72pt;
}
.btn-secondary{
  color: #8b0e70;
    background-color: transparent;
    border-color: #8b0e70;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-width: medium;
}
