<div>
  <div id="brand-class-contain" style="padding: 5% 20%; text-align: center; background-color: #f5f5f5;">
      <h1>
          Brand Spotlights
        </h1>
        <div id="brand-logo-container">
            <div class="row">
                <div class="column">
                  <img src="../../../assets/imgs/FredPerry.png" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                  <img src="../../../assets/imgs/Nike.png" alt="Forest" style="width:100%">
                </div>
                <div class="column">
                  <img src="../../../assets/imgs/calvin.png" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                    <img src="../../../assets/imgs/mobacco.png" alt="Mountains" style="width:100%">
                  </div>
              </div>
        </div>
  </div> 
</div>